<app-navbar></app-navbar>
<div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3"> <!-- Ajout de la classe mb-3 pour un espace entre les lignes -->
          <img src="https://img.freepik.com/free-vector/isolated-young-handsome-man-different-poses-white-background-illustration_632498-859.jpg?w=740&t=st=1699042372~exp=1699042972~hmac=efa797c5926b22403a7e7b2b6508ca500b8ff5406c339563976d834383262433" class="card-img-top" alt="...">
          <div class="card-body bg-info">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-outline-primary mx-2">Update</a>
            <a href="#" class="btn btn-outline-danger">Delete</a>
          </div>
        </div>
      </div>
     
      
      <!-- Répétez le code ci-dessus pour chaque carte -->
    </div>
  </div>
  